body {
    background-color: #f8f9fa;
}

.main-card {
    min-height: 180px;
}

.btn-primary {
    background-color: #2fa866;
    border-color: #2fa866;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #278d56 !important;
    border-color: #278d56 !important;
}

.btn-outline-primary {
    color: #2fa866;
    border-color: #2fa866;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    color: #ffffff !important;
    background-color: #2fa866 !important;
    border-color: #2fa866 !important;
}
